<p id="notice"><%= notice %></p>
<header>
<h2>ホーム</h2>
<div class = "post"><%= link_to 'New Post', new_app_path %></div>
<%= form_tag('/apps', method: 'get') do %>
<%= label_tag(:content_key, 'Search content:') %>
<%= text_field_tag(:content_key) %>
<%= submit_tag('Search') %> <%= link_to 'Clear', apps_path %>
<% end %>
</header>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= app.content %></td>
        <td><%= link_to 'Show', app %></td>
        <td><%= link_to 'Edit', edit_app_path(app) %></td>
        <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
